name: Docker build and push

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Log in to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }} 

    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build -t kannan1809/aishu-docker:latest  
    - name: Push the Docker image
      run: docker push kannan1809/aishu-docker:latest
    
   


 
